/* Add this CSS to center the text */
.exp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    text-align: center; 
  }
  
  .exp h1 {
    color: #ffffff; 
  }
  
  .exp h2 {
    color: #fdfdfd;
  }
  